<div class="card">
    <div class="card-body">
        <h3>Video Idea</h3>
        <form action="/ideas" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea class="form-control" name="details" placeholder="Details" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>