<div class="card">
    <div class="card-body">
        <h3>Edit Video Idea</h3>
        <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" value="{{idea.title}}" placeholder="Title" required>
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea class="form-control" name="details" placeholder="Details" required>{{idea.details}}</textarea>
            </div>
            <a href="/ideas" class="btn btn-dark">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>