{{#each ideas}}
    <div class="card mb-3">
        <div class="card-body">
            <h4>{{title}}</h4>
            <p>{{details}}</p>
            <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block">Edit</a>
            <form class="mt-2" method="post" action="/ideas/{{id}}?_method=DELETE">
                <input type="hidden" name="_method" value="PUT" />
                <button type="submit" class="btn btn-danger btn-block">Delete</button>
            </form>
        </div>
    </div>
{{else}}
    <p>No video ideas listed</p>
{{/each}}